<div style="padding:20px">
  <app-playlist-form></app-playlist-form>
  <table class="table table-dark table-striped">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">Title</th>
       <th scope="col">Created At</th>
       <th scope="col">Updated At</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let playlist of playlists; let index = index">
       <th scope="row">{{index + 1}}</th>
       <td>{{playlist.title}}</td>
       <td>{{playlist.created_at | date: 'short'}}</td>
       <td>{{playlist.updated_at | date: 'short'}}</td>
     </tr>
   </tbody>
  </table>
</div>
