<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/playlists']">Share & Play</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/tracks']" routerLinkActive="active">Tracks</a>
        <a class="nav-link" [routerLink]="['/playlists']" routerLinkActive="active">Playlists</a>
      </div>
    </div>
    <div *ngIf="!auth.currentUser" class="navbar-nav">
      <a class="nav-link" [routerLink]="['/sign-up']">Sign Up</a>
    </div>
    <div class="navbar-nav">
      <a *ngIf="!auth.currentUser" class="nav-link" [routerLink]="['/log-in']">Log In</a>
      <a *ngIf="auth.currentUser" class="nav-link" (click)="logOut()" [routerLink]="['/tracks']">Log Out</a>
    </div>
  </div>
</nav>
